extends layout/default

block stylesheets
  link(rel='stylesheet', href='/public/css/page-status20.css')

block scripts
  //- script(src='public/js/jquery.min.js')
  //- script(src='/socket.io/socket.io.js')
  script(src='public/js/status.js')

block content
  h3.text-center Список клиентов
  .center
    .card-deck.text
      .card.mb-3
        .card-header
          h5.card-title AntLer-Router1
          h6.card-subtitle.text-muted 194.186.248.187:13555
        .card-body.pb-1
          p.card-text Передано: 12 мб. <br/> Получено: 9 мб.
          h6.card-subtitle Cписок ip:
        ul.list-group.list-group-flush
          li.list-group-item 
            a.card-link(href='http://10.8.0.4') 10.8.0.4 
            p.card-text.text-muted 10 минут назад
          li.list-group-item 192.168.1.0/24
            a.card-link(href='192.168.1.1') 192.168.1.1 
            p.card-text.text-muted 4 час назад
        .card-footer.text-muted 2 дня назад
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router2
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router3
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00
      .card.mb-3
        .card-body
          h5.card-title AntLer-Router4
          h5.card-subtitle.mb-2.text-muted 194.186.248.187:13555
        table.table
          thead
            tr
              th(scope='col') IP
              th(scope='col') Обновлено
          tbody
            tr
              td 10.8.0.4
              td 11.07.2019 13:05:55
            tr
              td 192.168.1.0/24
              td 04.07.2019 14:37:00  