html(lang="en", data-lt-installed="true")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title #{title}
    link(rel='stylesheet', href='/public/css/main.css')
    block stylesheets
    //- link(rel='stylesheet', href='https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css',integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',crossorigin='anonymous')
    
  body
    
    include ../partial/navbar.pug
    
    main.container-fluid(role='main')
      block content

    script(src='public/js/default.js')
    block scripts
    
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",crossorigin="anonymous")
    //- script(src='https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js',integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o",crossorigin="anonymous")
    //- script.
    //-   window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
    
