html
  head
    title #{title}
    link(rel='stylesheet', href='/public/css/main.css')

    block scripts
  body
    include ../partial/navbar.pug
    main.container-fluid(role='main')
      block content